:root {
  --bottom-nav-height: 110px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  padding-bottom: calc(var(--bottom-nav-height) + 24px);
}

*, *::before, *::after {
  box-sizing: border-box;
}