<footer class="app-footer">
  <div class="app-footer__inner">

    <!-- 左（コピーライト） -->
    <p class="app-footer__copy">&copy; 2025 haby</p>

    <!-- 右（リンク群） -->
    <ul class="app-footer__links">
      <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>

  </div>
</footer>
