<header class="app-header">
  <div class="app-header__inner">
    <!-- 中央ロゴ -->
      <%= link_to root_path, class: "app-header__logo-link" do %>
        <%= image_tag "haby-logo.png", alt: "haby logo", class: "app-header__logo" %>
      <% end %>
  </div>
</header>