/*
 *= require_self
 *= require base/variables
 *= require base/layout
 *= require components/buttons
 *= require components/header
 *= require components/footer
 *= require components/bottom_nav
 *= require pages/home
 *= require pages/devise
 *= require pages/account
 *= require pages/account_forms
 *= require pages/habits
 *= require pages/habit_form
 *= require pages/habit_show
 */
