<p><%= @resource.email %> さん</p>

<p>パスワードの変更がリクエストされました。以下のリンクからパスワードを変更できます。</p>

<p><%= link_to "パスワードを変更する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに心当たりがない場合は、このメールを無視してください。</p>
<p>上記リンクにアクセスしてパスワードを変更するまで、現在のパスワードは変更されません。</p>
