  test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      ADMIN_EMAIL: "admin@example.com"
      MAIL_FROM: "no-reply@yourhaby.com"
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/haby_test

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: haby_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d haby_test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y \
            libvips \
            postgresql-client

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Prepare DB
        run: bin/rails db:prepare

      - name: Run tests
        run: bin/rails test
